#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}