#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 51px;
  height: 13px;
  -ms-transform: rotate(0.0deg);
}
#s-05d37e9a-a663-4184-93c5-b02d85a7abfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}