#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f2c5061-4714-46b0-b48d-0950c8679bff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}