#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
  min-height: 150px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_2 {
  position: absolute;
  top: 31px;
  left: 1px;
  width: 396px;
  height: 115px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 105px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Image_2 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 400px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 269px;
  width: 131px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_1 {
  position: absolute;
  top: 30px;
  left: -1px;
  width: 396px;
  height: 14px;
  background-color: #333333;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 251px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_5 {
  position: absolute;
  top: 58px;
  left: 39px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_1 {
  position: absolute;
  top: 55px;
  left: 130px;
  padding-left: 5px;
  width: 37px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Button_3 {
  position: absolute;
  top: 121px;
  left: 339px;
  width: 51px;
  height: 13px;
  background-color: #0F6587;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_6 {
  position: absolute;
  top: 92px;
  left: 39px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_2 {
  position: absolute;
  top: 89px;
  left: 130px;
  padding-left: 5px;
  width: 37px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-a82b2a8c-87c6-4fe3-a5e1-ea68dbe8dc53 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}