#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-07fce9c7-f4a0-4d9d-9cf5-e691d3967c8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}