#s-66127846-c758-4504-9fe0-63d5f5fea63e > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #0B3049;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #02BBD2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_417 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_417 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_417 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_417 span#rtr-s-Label_417_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_430 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_430 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_430 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_430 span#rtr-s-Label_430_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Group_28 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_7 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_32 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_32 .content {
  width: 6px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_32 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_32 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_32 span#rtr-s-Ellipse_32_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_33 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_34 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_35 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_51 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_51 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Label_51 span#rtr-s-Label_51_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Image_2 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 374px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 869px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_1 {
  position: absolute;
  top: 37px;
  left: 5px;
  width: 28px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_2 {
  position: absolute;
  top: 73px;
  left: -6px;
  width: 162px;
  height: 262px;
  background-color: #218791;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_1 {
  position: absolute;
  top: 81px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_2 {
  position: absolute;
  top: 101px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_3 {
  position: absolute;
  top: 138px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_4 {
  position: absolute;
  top: 157px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_5 {
  position: absolute;
  top: 194px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_6 {
  position: absolute;
  top: 212px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Line_1 {
  position: absolute;
  top: 194px;
  left: -6px;
  width: 161px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Line_2 {
  position: absolute;
  top: 134px;
  left: -6px;
  width: 161px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_7 {
  position: absolute;
  top: 249px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_8 {
  position: absolute;
  top: 297px;
  left: 5px;
  width: 140px;
  height: 38px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Line_3 {
  position: absolute;
  top: 249px;
  left: -6px;
  width: 161px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e #s-Line_4 {
  position: absolute;
  top: 286px;
  left: -6px;
  width: 161px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66127846-c758-4504-9fe0-63d5f5fea63e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}