#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 73px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 71px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 138px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 69px;
  height: 20px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 97px;
  height: 20px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Table_2 {
  border-collapse: separate;
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 138px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 145px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Table_1 {
  border-collapse: separate;
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 109px;
  height: 19px;
  -ms-transform: rotate(0.0deg);
}
#s-4a73b085-f06f-46f1-bfdd-968cb27f8afb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}