#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 102px;
  height: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-d184a509-6daf-4012-a9bb-45ca91f5924a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}