#s-a218aeef-964a-44b6-9f2f-994eb5aadbd5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a218aeef-964a-44b6-9f2f-994eb5aadbd5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a218aeef-964a-44b6-9f2f-994eb5aadbd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}