#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Email-inbox-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 106px;
  left: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 {
  width: 375px;
  height: 514px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 {
  width: 376px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_3 {
  background-color: transparent;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 .verticalalign {
  vertical-align: middle;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Row_cell_5 {
  width: 374px;
  height: 0px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_4 {
  background-color: transparent;
  background-image: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 .verticalalign {
  vertical-align: middle;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Row_cell_6 {
  width: 375px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 {
  position: absolute;
  top: 11px;
  left: 33px;
  width: 206px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_12 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 {
  position: absolute;
  top: 50px;
  left: 33px;
  width: 244px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_18 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 {
  position: absolute;
  top: 14px;
  left: 268px;
  width: 75px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_19 input {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue .content {
  width: 14px;
  height: 14px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-dotblue {
  position: absolute;
  top: 15px;
  left: 11px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 .shapewrapper-s-dotblue span#rtr-s-dotblue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip {
  position: absolute;
  top: 35px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 13.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Clip span#rtr-s-Clip_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow {
  position: absolute;
  top: 17px;
  left: 345px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Arrow span#rtr-s-Arrow_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 {
  position: absolute;
  top: 31px;
  left: 33px;
  width: 206px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 .valign {
  vertical-align: top;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Mail_1 .s-Input_11 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_51 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_46 span#rtr-s-Rectangle_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_484 span#rtr-s-Label_484_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_489 span#rtr-s-Label_489_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_168 span#rtr-s-Label_168_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_61 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 .content {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_27 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_27 span#rtr-s-Ellipse_27_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 .content {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_133 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_133 span#rtr-s-Ellipse_133_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 .content {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_134 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_134 span#rtr-s-Ellipse_134_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 .content {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_135 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_135 span#rtr-s-Ellipse_135_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 .content {
  width: 6px;
  height: 6px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Ellipse_136 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Ellipse_136 span#rtr-s-Ellipse_136_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 {
  position: absolute;
  top: 1px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_490 span#rtr-s-Label_490_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_169 span#rtr-s-Label_169_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Header7_2 {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 {
  position: absolute;
  top: 10px;
  left: 294px;
  width: 69px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 span {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Button_16 span#rtr-s-Button_16_0 {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 {
  position: absolute;
  top: 10px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_104 span#rtr-s-Label_104_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-button-back {
  position: absolute;
  top: 11px;
  left: 1px;
  width: 115px;
  height: 31px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 91px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Update-bar-loading_2 {
  position: absolute;
  top: 620px;
  left: 0px;
  width: 375px;
  height: 47px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 375px;
  height: 44px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 {
  position: absolute;
  top: 8px;
  left: 335px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_76 span#rtr-s-Label_76_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 3px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_16 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 375px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Line_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #shapewrapper-s-Line_17 {
  display: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Search-bar-white_3 {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Group_70 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 45px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  background-color: #EAEAEA;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 {
  position: absolute;
  top: 7px;
  left: 9px;
  padding-left: 25px;
  width: 327px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Input_15 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 {
  position: absolute;
  top: 15px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 #s-Label_107 span#rtr-s-Label_107_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d95ab6fa-ac63-4efe-9ca4-3e465738b214 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}